// ================================================
// COLORS
// ================================================

// Primary Colors
$button-text-color: hsl(356, 100%, 66%);
$button-hover-bg: hsl(355, 100%, 74%);
$heading-text-color: hsl(208, 49%, 24%);

// Neutral Colors
$header-text-color: white;
$footer-bg-color: hsl(240, 10%, 16%);
$footer-text-color: hsl(240, 2%, 79%);
$body-text-color: hsl(207, 13%, 34%);

// Gradient Colors
$general-gradient-color-1: hsl(13, 100%, 72%);
$general-gradient-color-2: hsl(353, 100%, 62%);
$body-gradient-color-1: hsl(237, 17%, 21%);
$body-gradient-color-2: hsl(237, 23%, 32%);
