/* ================================================
NAVIGATION
================================================ */

@use "../abstracts/" as a;

.navbar {
  left: 0;
  margin: auto;
  margin-top: 3.5rem;
  max-width: 1150px;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.home-link {
  padding-left: 1.75rem;
}

.home-link img {
  width: 90px;
}

@media screen and (min-width: 567px) {
  .navbar {
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-box {
    align-items: start;
  }
}

// Links Box

.linx-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 35px #00000044;
  position: absolute;
  height: 76.5vh;
  left: 50%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  top: 70px;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
  width: 86%;
}

.linx-padding-box {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  padding: 1.5rem;
}

@media screen and (min-width: 576px) {
  .linx-box {
    background-color: transparent;
    box-shadow: unset;
    flex-direction: row;
    height: auto;
    margin-top: -0.35rem;
    max-height: 100vh;
    opacity: 1;
    padding: 0;
    pointer-events: auto;
    position: unset;
    // top: 0;
    transform: unset;
    width: 100%;
  }

  .linx-padding-box {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

// ===============================|
// Nav Links
// ===============================|

.nav-links-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  //   padding: 1rem;
}

.link-label {
  font-size: 1.15rem;
  font-weight: 700;
  padding: 1rem 0 0;
  width: 100%;
}

.link-arrow {
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.label-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-radio:checked + .link-label .link-arrow {
  transform: rotate(180deg);
}

.link-radio:checked + .link-label > .nav-linx-menu {
  max-height: 50vh;
  opacity: 1;
}

.link-radio {
  position: absolute;
  pointer-events: none;
  top: 0;
  visibility: hidden;
}

@media screen and (min-width: 576px) {
  .nav-links-box {
    align-items: start;
    flex-direction: row;
    overflow: unset;
    padding: 0;
  }

  .link-label {
    color: a.$header-text-color;
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .label-box {
    position: relative;
  }

  .link-label:active {
    pointer-events: none;
  }

  .link-label:hover {
    cursor: pointer;
  }

  .link-label:hover > .nav-linx-menu {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    min-width: 180px;
    max-height: 50vh;
    width: auto;
    top: 35px;
  }

  .link-label:hover .link-arrow {
    transform: rotate(180deg);
  }

  .link-label:hover .label-box {
    text-decoration: underline;
  }
}

// Nav Links Menu

.nav-linx-menu {
  background-color: #00000011;
  flex-direction: column;
  margin: 0.75rem 0 0.25rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.linx-menu-padding {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.nav-menu-link {
  color: a.$footer-bg-color;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
}

// Login Box

.login-box {
  align-items: center;
  border-top: 1px solid #00000011;
  display: grid;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.75rem;
}

@media screen and (min-width: 576px) {
  .nav-linx-menu {
    background-color: a.$header-text-color;
    border-radius: 5px;
    box-shadow: 0 10px 30px #00000044;
    cursor: auto;
    display: flex;
    min-width: 180px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: auto;
    top: 35px;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .linx-menu-padding {
    padding: 1.5rem 1rem;
  }

  .nav-menu-link {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
  }

  .nav-menu-link:hover {
    font-weight: 600;
    text-shadow: 0 0 1px #000;
  }

  .login-box {
    border-top: unset;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
  }
}

// Login Buttons

.login-btn,
.sign-up-btn {
  border-radius: 5rem;
  color: a.$footer-bg-color;
  font-weight: 700;
  height: 45px;
  padding: 0.85rem 0 0.9rem;
  text-align: center;
  width: 140px;
}

.login-btn {
  align-self: flex-end;
  font-size: 1.15rem;
}

.sign-up-btn {
  align-self: flex-start;
  background-image: linear-gradient(
    to right,
    a.$general-gradient-color-1,
    a.$general-gradient-color-2
  );
  color: a.$header-text-color;
}

@media screen and (min-width: 576px) {
  .login-btn {
    align-self: start;
    color: a.$header-text-color;
  }

  .login-btn:hover {
    text-decoration: underline;
  }

  .sign-up-btn {
    background-color: a.$header-text-color;
    background-image: unset;
    color: a.$button-text-color;
    font-weight: 900;
    transition: all 0.2s ease-in-out;
  }

  .sign-up-btn:hover {
    background-color: a.$button-hover-bg;
    color: a.$header-text-color;
  }
}

// Menu Button

.menu-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: -0.75rem;
  padding: 0.65rem;
  z-index: 5;
}

.menu-btn-checkbox {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
}

.menu-btn-checkbox:checked ~ .linx-box {
  max-height: 100vh;
  opacity: 1;
  pointer-events: auto;
}

.menu-btn-burger {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 32px;
  transition: all 0.25s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: all 0.25s ease-in-out;
  width: 32px;
}

.menu-btn-burger::before {
  transform: translateY(-8px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

@media screen and (min-width: 576px) {
  .menu-btn {
    visibility: hidden;
  }
}

// Burger Button Animation

.menu-btn.open .menu-btn-burger {
  background-color: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}
